@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 768px) {
    /* scroll bar styling */
    ::-webkit-scrollbar {
      width: 4px;
    }
    
    ::-webkit-scrollbar-thumb {
      background-color: #6b6a6a;
      border-radius: 0px;
    }
  }
  
  @media (min-width: 769px) {
    /* scroll bar styling */
    ::-webkit-scrollbar {
      width: 7px;
    }
    
    ::-webkit-scrollbar-thumb {
      background-color: #6b6a6a;
      border-radius: 10px;
    }
  }
